<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter API OAuth flow success</title>
</head>
<body>
  <main>
    <div id="root">
      <strong>Congratulations!</strong>
      <br>
      You logged in to Twitter, this app tweeted for you.

      <ul>

        <li>Username: @<%= screenName %></li>
        <li>Latitude: <%= latitude %></li>
        <li>Longitude: <%= longitude %></li>
        <li>Link: <a href="https://twitter.com/twitter/status/<%= statusId %>" >Your tweet</a> </li>  
      </ul>
    </div>
  </main>
</body>
</html>
